footer
    border-top 1px solid #ccc
    margin-top $rem(60)
    .center
        clearfix()
        padding $rem(30) 0
    .col
        width 50%
        float left
    p
        opensans 12
        color $azul
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
    .marca-telefone
        display flex
        align-items flex-start
        img
            max-width 100%
            margin-right 40px
        p
            margin 0
            strong
                display block
                font-size $rem(15)
                line-height 1
        + p
            margin-top 2em
    +mobile()
        margin-top 40px
        .col
            width 100%
            + .col
                margin-top 25px
        .marca-telefone
            display block
            img
                display block
                margin-bottom 10px
