header {
    background: #EFEFEF;
    padding-top: $rem(30);

    .center {
        position: relative;
        background: #fff;
        box-shadow: 0 1px 10px rgba(#000, 0.2);
        padding: $rem(30) $rem(40);

        +mobile() {
            padding: 20px;
            overflow: hidden;
        }
    }

    nav {
        font-size: 0;

        a {
            display: inline-block;
            opensans: 16;
            color: $azul;

            +tablet() {
                font-size: 14px;
            }

            + a {
                margin-left: $rem(35);

                +tablet() {
                    margin-left: $rem(20);
                }
            }

            &:hover, &.active {
                color: $laranja;
            }
        }

        +mobile() {
            margin-top: $rem(25);

            a {
                display: block;

                + a {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }

        .lang-wrapper {
            width: auto;
            height: auto;
            position: relative;
            margin: 0;
            display: inline-block;
            float: right;

            a {
                opensans: 16;
                color: $azul;
                margin-right: 12px;

                +tablet() {
                    font-size: 14px;
                }

                &:hover, &.active {
                    color: $laranja;
                }
            }

            select {
                appearance: none;
                background: #fff;
                border: 0;
                border-left: 1px solid #ccc;
                outline: 0;
                cursor: pointer;
                height: 20px;
                width: 54px;
                background: $img('seta-selecao.png') no-repeat right center #fff;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                padding: 0 12px;
                opensans: 16 bold;
                color: $azul;

                +tablet() {
                    font-size: 14px;
                    width: auto;
                    height: 15px;
                }

                &::-ms-expand {
                    display: none;
                }
            }

            +mobile() {
                width: auto;
                height: auto;
                position: relative;
                display: block;
                margin-top: 15px;

                a {
                    display: none;
                }

                select {
                    border-left: 0;
                    padding: 0;
                    width: 40px;
                }
            }
        }
    }
}
