.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    background #EFEFEF
    padding $rem(45) 0
    h1
        margin 0 0 1em
        opensans 24 bold
        color #000
    +mobile()
        padding 30px 0

.links
    display block
    width 100%
    max-width 750px
    a
        display block
        border-bottom 1px solid #bbb
        background $img('seta-link.png') no-repeat left center
        padding 10px 0 10px 32px
        opensans 16
        color $azul
        &:hover
            color $laranja

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: $azul;
}
.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: $azul;
}
.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: $azul;
}
.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: $azul;
}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: $azul;
}
