.programacao
    p
        opensans 16
        color $azul
    .selecione-divulgacao
        display flex
        margin-bottom $rem(24)
        p
            margin 0
            + p
                margin-left auto
                opensans 14 bold
    .filtros
        clearfix()
        .left
            width $rem(400)
            float left
            select
                width 100%
                margin-bottom $rem(10)
                &:last-child
                    margin-bottom 0
        .right
            width $rem(580)
            float right
        select
            display block
            height 52px
            border-radius 4px
            padding 0 20px
            border 0
            outline 0
            opensans 16
            color $azul
            appearance none
            position relative
            background $img('seta-selecao.png') no-repeat right 15px center #fff
            cursor pointer
            -webkit-appearance none
            -moz-appearance none
            -ms-appearance none
            appearance none
            &::-ms-expand
                display none
            option:first-child
                color #888
            &.placeholder
                color #888
                option:not(:first-child)
                    color $azul
        input
            height 52px
            border-radius 4px
            padding 0 20px
            border 0
            outline 0
            opensans 16
            color $azul
            background $img('ico-calendar.png') no-repeat 92% center #fff
            +placeholder()
                color #888
        label
            opensans 16
            color #888
            margin-right $rem(10)
        .row
            display flex
            align-items center
            justify-content flex-end
            + .row
                margin-top $rem(10)
            input
                width $rem(160)
                margin-right $rem(10)
                &:last-child
                    margin-right 0
            select
                width $rem(170)
                margin-right $rem(10)
        .submit
            width 100%
            float left
            margin-top $rem(25)
            position relative
            text-align right
            &:before
                content ''
                position absolute
                width 100%
                height 1px
                background $azul
                left 0
                top 50%
                margin-top -1px
            input
                position relative
                z-index 2
                opensans 14 bold
                color #fff
                background $azul
                padding $rem(18) $rem(55)
                border 0
                outline 0
                cursor pointer
                text-transform uppercase
                border-radius 4px
                transition background .3s
                &:hover
                    background darken($azul, 10)
    +below(1060px)
        .filtros
            .left
                width $rem(580)
            .right
                clear left
                float left
                margin-top $rem(15)
    +mobile()
        .selecione-divulgacao
            display block
            p + p
                margin-top 1em
        .filtros
            .left
            .right
                width 100%
            .row
                display block
                font-size 0
                + .row
                    margin-top $rem(15)
                label
                    display block
                    margin-bottom .5em
                input
                    display inline-block
                    width calc('50% - 4px')
                    margin-right 8px
                    &:last-child
                        margin-right 0
                select
                    width 100%
                    margin-bottom $rem(10)
                    display block
    .opcoes-consulta
        position relative
        &:before
            content ''
            position absolute
            width 100%
            height 1px
            background $azul
            left 0
            top 50%
            margin-top -1px
        a
            position relative
            display inline-block
            z-index 2
            opensans 14 bold
            color #fff
            background $azul
            padding $rem(18) $rem(35)
            outline 0
            text-transform uppercase
            border-radius 4px
            transition background .3s
            &:hover
                background darken($azul, 10)

.consulta
    padding $rem(35) 0 0
    p
        opensans 16
        color $azul
        margin 0
    .table-wrapper
        width 100%
        overflow auto
    table
        width 100%
        min-width 1200px
        opensans 12
        border-collapse collapse
        th
            font-size 9px
            font-weight bold
            text-transform uppercase
            color $azul
            text-align left
            vertical-align top
            padding-right 10px
            padding-bottom 5px
            background #fff
            &:nth-child(1)
                width 110px
            &:nth-child(2)
                width 165px
            &:nth-child(12)
                width 240px
            &:last-child
                padding-right 0
        td
            font-size 12px
            color #222
            border-top 1px solid #ccc
            padding 10px 0
            padding-right 10px
            &:nth-child(3)
            &:nth-child(4)
            &:nth-child(5)
            &:nth-child(6)
            &:nth-child(7)
            &:nth-child(8)
            &:nth-child(9)
            &:nth-child(10)
            &:nth-child(11)
                white-space nowrap
            &:nth-child(13)
                padding-right 0
                text-align center
        tr:last-child td
            border-bottom 1px solid #ccc
        tr:hover td
            background #eee
    .exportar
        margin-top $rem(45)
        text-align right
        font-size 0
        +mobile()
            margin-top 20px
        a
            display inline-block
            height 52px
            background $azul
            opensans 14 bold
            color #fff
            line-height 52px
            border-radius 4px
            transition background .3s
            padding-left 70px
            padding-right 30px
            text-transform uppercase
            background-repeat no-repeat
            &:hover
                background-color darken($azul, 10)
            + a
                margin-left 10px
            &.exportar-xls
                background-image $img('ico-xls.png')
                background-position 16px center
            &.exportar-pdf
                background-image $img('ico-pdf.png')
                background-position 20px center
            +mobile()
                display block
                text-align left
                width 195px
                + a
                    margin 10px 0 0
